.buttons {
    background: none;
    border: none;
    font-size: medium;
}

@media (max-width: 768px) {
    .buttons {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
}

.buttons__button {
    font-size: 18px;
    color: teal;
    background: none;
    border: none;
    transition: color 1s, transform 1s linear;
}

.buttons__button:hover {
    color: hsl(180, 100%, 30%);
}

.buttons__button:disabled {
    color: #ccc;
}

@media (max-width: 768px) {
    .buttons__button {
        display: grid;
        justify-items: center;
        margin: 5px;
    }
}